* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    /* background-color: aqua; */
    /* background-image: url("../images/blur.png");
    background-size: cover; */
}

.menu {
    width: 100%;
    min-height: 100px;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 10px rgba(166, 168, 168, 0.5);
}

.noidung {
    min-height: 500px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
}

.nut {
    width: 17%;
    min-height: 60px;
    background-color: #FFF7AD;
    background: linear-gradient(to right, #FFF7AD, #FFA9F9); /* Gradient từ màu #ff5757 đến màu #8c52ff */
    margin-left: 120px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.nut:hover {
    box-shadow: 0 0 10px 10px rgba(30, 246, 246, 0.5);
    /* Add a glowing effect with blue lava color */
}


.logo {
    width: 150px;
    height: 50px;
    /* background-color: rgb(255, 0, 0); */
    margin-left: 50px;

}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* Tùy chọn: loại bỏ đường gạch chân cho liên kết */
    color: black;
    /* Tùy chọn: màu chữ */
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.logo img {
    margin-right: 10px;
    /* Tùy chọn: thêm khoảng trắng giữa ảnh và chữ */
    margin-top: 10px;
}

.menu1 {
    width: 100%;
    min-height: 50px;
    /* background-color: rgb(163, 104, 104); */
}

.menu1 ul {
    display: flex;
    margin-left: 120px;
}

.menu1 li {
    margin-left: 50px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.menu1 a {
    color: rgb(98, 98, 98);
}


.menu1 a:hover {
    color: rgb(74, 219, 255);
    /* Set the desired hover color */
    text-decoration: none;
    /* Remove the default underline */
    position: relative;
}

.menu1 a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: red;
    /* Set the desired underline color */
    animation: underline 1s linear forwards;
    /* Set the animation properties */
}

#home1 {
    color: rgb(74, 219, 255);
    text-decoration: underline solid red 2px;
    text-underline-offset: 4px;
}

#a1 {
    color: black;

}

@keyframes underline {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}



.menu1 button {
    width: 120px;
    height: 40px;
    margin-left: 200px;
    /* margin-top: 10px; */
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: #ff5757;
    background: linear-gradient(to right, #ff5757, #8c52ff); /* Gradient từ màu #ff5757 đến màu #8c52ff */
    border: 1px solid white;
    border-radius: 10px;
}

.anh {
    width: 30%;
    height: 300px;
    /* background-color: blue; */
    margin-left: 420px;
    position: relative;
    /* margin-top: 20px; */
}

.chu {
    width: 30%;
    min-height: 450px;
    /* background-color: red; */
    margin-left: 130px;
}

#p1 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(109, 106, 106);
    margin-top: 50px;
    margin-bottom: 10px;
}

#hh1 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(8, 204, 248);
    /* margin-left: 50px; */
    /* margin-top: 50px; */

}

#hh2 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(8, 204, 248);
    /* margin-left: 50px; */
    /* margin-top: 50px; */
    margin-bottom: 30px;
    overflow: hidden;
}

#p2 {
    font-size: 20px;
    /* font-weight: bold; */
    color: rgb(108, 104, 104);
    margin-top: 50px;
    margin-bottom: 10px;
}

.anh img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 40px; */
    /* transition: transform 0.1s ease; */
    /* Add a smooth transition effect */
    display: none;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.nut1 {
    width: 220px;
    min-height: 35px;
    background-color: #cdffd8;
    align-items: center;
    margin-left: 15px;
    border-radius: 5px;
    background: linear-gradient(to right, #cdffd8, #94b9ff); /* Gradient từ màu #cdffd8 đến màu #94b9ff */
}

#np1 {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    line-height: 35px;

}

